In [2]:
import pandas as pd

In [3]:
data_2024 = pd.read_csv('2024-2025.csv')
data_2023 = pd.read_csv('2023-2024.csv')
data_2022 = pd.read_csv('2022-2023.csv')
data_2021 = pd.read_csv('2021-2022.csv')
data_2020 = pd.read_csv('2020-2021.csv')
data_2019 = pd.read_csv('2019-2020.csv')
data_2018 = pd.read_csv('2018-2019.csv')
data_2017 = pd.read_csv('2017-2018.csv')
data_2016 = pd.read_csv('2016-2017.csv')
data_2015 = pd.read_csv('2015-2016.csv')
data_2014 = pd.read_csv('2014-2015.csv')
data_2013 = pd.read_csv('2013-2014.csv')
data_2012 = pd.read_csv('2012-2013.csv')

In [4]:
combined_data = pd.concat([data_2024, data_2023, data_2022, data_2021, data_2020, data_2019, data_2018, data_2017, data_2016, data_2015, data_2014, data_2013, data_2012], ignore_index=True)

In [5]:
combined_data

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,LBA,SJH,SJD,SJA,GBH,GBD,GBA,BSH,BSD,BSA
0,E0,16/08/2024,20:00,Man United,Fulham,1.0,0.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0.0,2.0,A,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,17/08/2024,15:00,Arsenal,Wolves,2.0,0.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,17/08/2024,15:00,Everton,Brighton,0.0,3.0,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,17/08/2024,15:00,Newcastle,Southampton,1.0,0.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4936,E0,19/05/2013,NaN,Swansea,Fulham,0.0,3.0,A,0.0,1.0,...,4.50,1.73,3.6,4.75,1.72,3.75,4.50,1.83,3.60,4.0
4937,E0,19/05/2013,NaN,Tottenham,Sunderland,1.0,0.0,H,0.0,0.0,...,10.00,1.29,5.5,11.00,1.22,6.00,12.00,1.30,5.00,10.0
4938,E0,19/05/2013,NaN,West Brom,Man United,5.0,5.0,D,1.0,3.0,...,1.75,4.33,3.8,1.73,4.50,3.60,1.75,4.33,3.60,1.8
4939,E0,19/05/2013,NaN,West Ham,Reading,4.0,2.0,H,2.0,0.0,...,4.80,1.67,3.8,5.00,1.60,3.80,5.50,1.67,3.75,5.0
4940,E0,19/05/2013,NaN,Wigan,Aston Villa,2.0,2.0,D,2.0,1.0,...,3.40,2.10,3.6,3.30,2.00,3.50,3.50,2.10,3.40,3.4

In [6]:
data_2023

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,19/05/2024,16:00,Crystal Palace,Aston Villa,5,0,H,2,0,...,2.78,-0.75,1.73,2.08,1.78,2.16,1.93,2.21,1.81,2.05
376,E0,19/05/2024,16:00,Liverpool,Wolves,2,0,H,2,0,...,5.17,-2.75,2.07,1.86,2.04,1.85,2.10,1.89,2.04,1.82
377,E0,19/05/2024,16:00,Luton,Fulham,2,4,A,1,2,...,2.69,0.25,2.00,1.93,1.99,1.93,2.02,1.94,1.96,1.91
378,E0,19/05/2024,16:00,Man City,West Ham,3,1,H,2,1,...,4.82,-3.00,2.03,1.90,1.99,1.90,2.05,1.99,1.96,1.91
379,E0,19/05/2024,16:00,Sheffield United,Tottenham,0,3,A,0,1,...,3.81,1.50,2.06,1.87,2.05,1.88,2.08,1.89,2.01,1.86

In [7]:
columns_to_keep = [
    'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 
    'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR',
    'Date'
]

In [8]:
final_data = combined_data[columns_to_keep]

In [9]:
final_data

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,AC,HY,AY,HR,AR,Date
0,Man United,Fulham,1.0,0.0,H,14.0,10.0,5.0,2.0,7.0,8.0,2.0,3.0,0.0,0.0,16/08/2024
1,Ipswich,Liverpool,0.0,2.0,A,7.0,18.0,2.0,5.0,2.0,10.0,3.0,1.0,0.0,0.0,17/08/2024
2,Arsenal,Wolves,2.0,0.0,H,18.0,9.0,6.0,3.0,8.0,2.0,2.0,2.0,0.0,0.0,17/08/2024
3,Everton,Brighton,0.0,3.0,A,9.0,10.0,1.0,5.0,1.0,5.0,1.0,1.0,1.0,0.0,17/08/2024
4,Newcastle,Southampton,1.0,0.0,H,3.0,19.0,1.0,4.0,3.0,12.0,2.0,4.0,1.0,0.0,17/08/2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4936,Swansea,Fulham,0.0,3.0,A,19.0,8.0,11.0,6.0,8.0,0.0,2.0,1.0,0.0,0.0,19/05/2013
4937,Tottenham,Sunderland,1.0,0.0,H,23.0,6.0,19.0,4.0,14.0,1.0,1.0,3.0,0.0,1.0,19/05/2013
4938,West Brom,Man United,5.0,5.0,D,15.0,12.0,8.0,8.0,3.0,5.0,0.0,1.0,0.0,0.0,19/05/2013
4939,West Ham,Reading,4.0,2.0,H,21.0,17.0,12.0,7.0,6.0,4.0,2.0,1.0,0.0,0.0,19/05/2013
4940,Wigan,Aston Villa,2.0,2.0,D,12.0,5.0,6.0,2.0,4.0,2.0,2.0,1.0,0.0,0.0,19/05/2013

In [10]:
final_data.to_csv('final_dataset.csv', index=False)

In [11]:
def standardize_date(date_str):
    try:
        # Attempt to parse with %d/%m/%Y
        return pd.to_datetime(date_str, format='%d/%m/%Y')
    except ValueError:
        # Fallback to %d/%m/%y
        return pd.to_datetime(date_str, format='%d/%m/%y')

final_data.loc[:, 'Date'] = final_data['Date'].apply(standardize_date)

In [12]:
print(final_data['Date'].dtype)

object

In [13]:
final_data['Date'] = pd.to_datetime(final_data['Date'], dayfirst=True, errors='coerce')

C:\Users\awab\AppData\Local\Temp\ipykernel_15348\470999599.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['Date'] = pd.to_datetime(final_data['Date'], dayfirst=True, errors='coerce')

In [14]:
final_data.loc[:,'Date'] = pd.to_datetime(final_data['Date'], dayfirst=True, errors='coerce')

In [15]:
final_data.loc[:,'Date'] = final_data['Date'].dt.strftime('%d/%m/%y')

In [16]:
final_data

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,AC,HY,AY,HR,AR,Date
0,Man United,Fulham,1.0,0.0,H,14.0,10.0,5.0,2.0,7.0,8.0,2.0,3.0,0.0,0.0,2024-08-16
1,Ipswich,Liverpool,0.0,2.0,A,7.0,18.0,2.0,5.0,2.0,10.0,3.0,1.0,0.0,0.0,2024-08-17
2,Arsenal,Wolves,2.0,0.0,H,18.0,9.0,6.0,3.0,8.0,2.0,2.0,2.0,0.0,0.0,2024-08-17
3,Everton,Brighton,0.0,3.0,A,9.0,10.0,1.0,5.0,1.0,5.0,1.0,1.0,1.0,0.0,2024-08-17
4,Newcastle,Southampton,1.0,0.0,H,3.0,19.0,1.0,4.0,3.0,12.0,2.0,4.0,1.0,0.0,2024-08-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4936,Swansea,Fulham,0.0,3.0,A,19.0,8.0,11.0,6.0,8.0,0.0,2.0,1.0,0.0,0.0,2013-05-19
4937,Tottenham,Sunderland,1.0,0.0,H,23.0,6.0,19.0,4.0,14.0,1.0,1.0,3.0,0.0,1.0,2013-05-19
4938,West Brom,Man United,5.0,5.0,D,15.0,12.0,8.0,8.0,3.0,5.0,0.0,1.0,0.0,0.0,2013-05-19
4939,West Ham,Reading,4.0,2.0,H,21.0,17.0,12.0,7.0,6.0,4.0,2.0,1.0,0.0,0.0,2013-05-19
4940,Wigan,Aston Villa,2.0,2.0,D,12.0,5.0,6.0,2.0,4.0,2.0,2.0,1.0,0.0,0.0,2013-05-19

In [17]:
testData = data_2023